<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar notificaciones</title>
</head>
<body>
    <h1>Modificar notificaciones</h1>
    <label for="nom">Nombre: </label>
    <input type="text" id="nom" name="nom" value="<%= recurso.nom %>" required>
    
    <label for="estat">Estado:</label>
    <select id="estat" name="estat">
        <label for="fInici">Data inici:</label>
        <input type="date" id="fInici" name="fInici" value="<%= notificacio.fInici %>" required>

        <label for="fFinal">Data final:</label>
        <input type="date" id="fFinal" name="fFinal" value="<%= notificacio.fFinal %>" required>

        <label for="missatge">Missatge:</label>
        <textarea id="missatge" name="missatge" required><%= notificacio.missatge %></textarea>

        <button type="submit">Actualizar</button>
</form>
</body>
</html>