<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuari detall</title>
</head>

<body>
    <h1>Usuari detall</h1>
    <p>Consultado por: <%= userName.name %></p>
</p>

    <p><strong>Nombre:</strong>
        <%= usuari.nom %>
    </p>
    <p><strong>Rol:</strong>
        <%= usuari.rol %>
    </p>
    <p><strong>contrasenya:</strong>
        <%= usuari.contrasenya %>
    </p>
    
    <a href="/recursos">Volver</a>
</body>

</html>